<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZIP</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AAC</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MP3</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>WAV</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.waveform-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Chord Pro Icon.png</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>pro</string>
				<string>crd</string>
				<string>chrpro</string>
				<string>chordpro</string>
				<string>chopro</string>
				<string>cho</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Chord pro document</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.Muzoma.customUTIHandler.pro</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>muz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Muzoma document package</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.Muzoma.customUTIHandler.muz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>CFBundleTypeName</key>
			<string>Muzoma set package</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.Muzoma.customUTIHandler.set.muz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Text Icon.png</string>
			<key>CFBundleTypeName</key>
			<string>plain text</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>CFBundleTypeName</key>
			<string>audio</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
				<string>public.mpeg-4-audio</string>
				<string>com.apple.coreaudio-format</string>
				<string>public.aiff-audio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.Muzoma.Muzoma</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Muzoma</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>muzoma.audioshare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>muzoma.audioshare</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8537</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>audiocopyapp</string>
		<string>audioshare.import</string>
		<string>audiosharecmd</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>mzstatic.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>retronyms.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) recording functionality</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTITypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wav</string>
					<string>mp3</string>
					<string>caf</string>
					<string>m4a</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Audio file format</string>
			<key>UTTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>UTTypeIdentifier</key>
			<string>public.audio</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Audio zip package format</string>
			<key>UTTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.pkware.zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>zip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Muzoma package format</string>
			<key>UTTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.muzoma.customUTIHandler.muz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>muz</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>pubic.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Text format</string>
			<key>UTTypeIconFile</key>
			<string>Text Icon.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.muzoma.customUTIHandler.txt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>txt</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>pubic.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chord Pro format</string>
			<key>UTTypeIconFile</key>
			<string>Chord Pro Icon.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.muzoma.customUTIHandler.pro</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pro</string>
					<string>cho</string>
					<string>chrpro</string>
					<string>chordpro</string>
					<string>chopro</string>
					<string>crd</string>
					<string>cpro</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Muzoma set format</string>
			<key>UTTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.muzoma.customUTIHandler.set.muz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>set.muz</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTITypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wav</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Wav audio file format</string>
			<key>UTTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.waveform-​audio</string>
		</dict>
		<dict>
			<key>UTITypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp3</string>
					<string>caf</string>
					<string>m4a</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Audio file format</string>
			<key>UTTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>UTTypeIdentifier</key>
			<string>public.audio</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Audio zip package format</string>
			<key>UTTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.pkware.zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>zip</string>
			</dict>
		</dict>
		<dict>
			<key>UTITypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pro</string>
					<string>cho</string>
					<string>chrpro</string>
					<string>chordpro</string>
					<string>chopro</string>
					<string>crd</string>
					<string>cpro</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>pubic.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chord Pro format</string>
			<key>UTTypeIconFile</key>
			<string>Chord Pro Icon.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.muzoma.customUTIHandler.pro</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Muzoma package format</string>
			<key>UTTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.muzoma.customUTIHandler.muz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>muz</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>pubic.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Text format</string>
			<key>UTTypeIconFile</key>
			<string>Text Icon.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.muzoma.customUTIHandler.txt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>txt</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Muzoma set format</string>
			<key>UTTypeIconFile</key>
			<string>Icon-Small@3x.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.muzoma.customUTIHandler.set.muz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>set.muz</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
